openapi: "3.0.2"
info:
  title: Klay Open API
  version: "1.10.0"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: http://localhost:7151

paths:
  /eth/chainId:
    post:
      summary: "[chainId] Return current chainId set on the requested node."
      tags:
        - eth
      operationId: chainId
      description: |
        Return current chainId set on the requested node.
        
        **JSONRPC:** `eth_chainId`

      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "../../../components/requests/JsonRpcRequest.yaml#/components/schemas/JsonRpcRequest"
                - type: object
                  properties:
                    method:
                      type: string
                      default: 'eth_chainId'

      responses:
        200:
          description: Chain id set on the requested node.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "../../../components/responses/JsonRpcResponse.yaml#/components/schemas/JsonRpcResponse"
                  - $ref: "#/components/schemas/EthChainIdResp"

      externalDocs:
        url: https://docs.klaytn.foundation/content/dapp/json-rpc/api-references/eth/config#eth_chainid
        description: Klaytn Docs

      x-codeSamples:
        - lang: "curl"
          label: "Curl"
          source:
            $ref: "../../../code-samples/curl/eth/config/chainId.sh"
#        - lang: "java"
#          label: "Java"
#          source:
#            $ref: ""
#        - lang: "javascript"
#          label: "Javascript"
#          source:
#            $ref: ""
#        - lang: "python"
#          label: "Python"
#          source:
#            $ref: ""

components:
  schemas:
    EthChainIdResp:
      type: object
      properties:
        result:
          type: string
          format: hex
          description: Chain id set on the requested node.
          example: "0x2019"
