import org.web3j.protocol.core.Response;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonInclude;

@JsonInclude(JsonInclude.Include.NON_NULL)
public class {{classname}} {{#vars}}{{#-last}}extends Response<{{{datatypeWithEnum}}}>{{/-last}}{{/vars}} {
{{#serializableModel}}
  private static final long serialVersionUID = 1L;

{{/serializableModel}}

    {{#vars}}
    {{#isEnum}}
    {{^isContainer}}
{{>enumClass}}
    {{/isContainer}}
    {{#isContainer}}
    {{#mostInnerItems}}
{{>enumClass}}
    {{/mostInnerItems}}
    {{/isContainer}}
    {{/isEnum}}
  {{#jackson}}
  @JsonProperty("{{baseName}}")
  {{/jackson}}
  {{#gson}}
  @SerializedName("{{baseName}}")
  {{/gson}}
  {{#isContainer}}
  private {{{datatypeWithEnum}}} {{name}}Response{{#required}} = {{{defaultValue}}}{{/required}}{{^required}} = null{{/required}};
  {{/isContainer}}
  {{^isContainer}}
  private {{{datatypeWithEnum}}} {{name}}Response{{#defaultValue}} = {{{.}}}{{/defaultValue}};
  {{/isContainer}}

  @JsonProperty("{{baseName}}")
  public {{{datatypeWithEnum}}} {{getter}}Response() {
    return {{name}}Response;
  }

  @JsonProperty("{{baseName}}")
  public void {{setter}}({{{datatypeWithEnum}}} {{name}}Response) {
    this.{{name}}Response = {{name}}Response;
  }
  {{/vars}}

}