{{>licenseInfo}}
package {{package}};

import java.math.BigDecimal;
import java.util.List;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Collections;
import java.util.concurrent.ScheduledExecutorService;

import org.web3j.protocol.Web3jService;
import org.web3j.protocol.core.Request;
import org.web3j.utils.Async;

import {{modelPackage}}.*;

public interface {{classname}} {
    static final String namespace = "{{#lambda.lowercase}}{{{baseName}}}{{/lambda.lowercase}}";
    {{#operations}}
    {{#operation}}{{^vendorExtensions.x-delegate-to}}
        {{#queryParams}}{{#-last}}
    default public Request<?,{{{returnType}}}> {{#tags}}{{name}}{{/tags}}{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}({{#queryParams}}{{^-first}}, {{/-first}}Object {{{paramName}}}{{/queryParams}}) {
        return new Request<>(namespace+"_{{operationId}}", Arrays.asList({{#queryParams}}{{^-first}}, {{/-first}}{{{paramName}}}{{/queryParams}}), this.getWeb3Service(), {{{returnType}}}.class);
    }
        {{/-last}}{{/queryParams}}
        {{#queryParams}}
        {{#vendorExtensions.x-default-latest}}
    default public Request<?,{{{returnType}}}> {{#tags}}{{name}}{{/tags}}{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}({{#queryParams}}{{#-first}}{{#vendorExtensions.x-default-latest}}{{#queryParams}}{{^vendorExtensions.x-default-latest}}Object {{{paramName}}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-default-latest}}{{/queryParams}}{{/vendorExtensions.x-default-latest}}{{^vendorExtensions.x-default-latest}}{{#queryParams}}{{^vendorExtensions.x-default-latest}}{{^-first}}, {{/-first}}Object {{{paramName}}}{{/vendorExtensions.x-default-latest}}{{/queryParams}}{{/vendorExtensions.x-default-latest}}{{/-first}}{{/queryParams}}) {
        return new Request<>(namespace+"_{{operationId}}", Arrays.asList({{#queryParams}}{{^vendorExtensions.x-default-latest}}{{{paramName}}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-default-latest}}{{#vendorExtensions.x-default-latest}}"latest"{{^-last}}, {{/-last}}{{/vendorExtensions.x-default-latest}}{{/queryParams}}), this.getWeb3Service(), {{{returnType}}}.class);
    }
        {{/vendorExtensions.x-default-latest}}
        {{/queryParams}}
        {{^queryParams}}
    default public Request<?,{{{returnType}}}> {{#tags}}{{name}}{{/tags}}{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}() {
        return new Request<>(namespace+"_{{operationId}}", Arrays.asList(), this.getWeb3Service(), {{{returnType}}}.class);
    }
        {{/queryParams}}
    {{/vendorExtensions.x-delegate-to}}{{/operation}}
    {{/operations}}

    default Web3jService getWeb3Service() {
        return this.getService();
    }
    Web3jService getService();
}